<app-content>
    <div>
      <br>
      
    <div>
  <div class="pull-right">
          <button type="button" class="btn btn-success" (click)="gotoCreateProduct()">เพิ่มข้อมูล</button>

  </div>
    </div>
    <br>
      <table class="table">
          <thead class="bg-warning">
            <tr>
              <th scope="col">รหัสประชาชน</th>
              <th scope="col">น้ำหนัก</th>
              <th scope="col">ส่วนสูง</th>
              <th scope="col">ค่าดัชนี</th>
              <th scope="col">
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of item.rs">
                <!---<td class="table-warning" >{{item.PERSION_NUMBER}}</td>
              <td class="table-warning">{{item.INITIAL_CODE}}</td>
              <td class="table-warning">{{item.NAME}}</td>
              <td class="table-warning">{{item.LASTNAME}}</td>
              <td class="table-warning">{{item.GENDER}}</td>
              <td class="table-warning">{{item.AGE}}</td>-->
               <td class="table-warning">{{item.PERSION_NUMBER}}</td>
               <td class="table-warning">{{item.WEIGHT}}</td>
               <td class="table-warning">{{item.HEIGHT}}</td>
               <td class="table-warning">{{item.RESULT}}</td>
              <td class="table-warning">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button class="btn btn-info" [routerLink]="['/home/edit',item.personID]">แก้ไข</button>
                    <button type="button" (click)="onDeleteData(item.personID)" class="btn btn-danger">ลบ</button>
                    <button type="button" (click)="gotoBMI(item.PERSON_CODE)" class="btn btn-danger">BMI</button>
                  </div>
            </td>
            </tr>
            
          </tbody>
        </table>
  </div>
  </app-content>